<mat-card>
    <table class="user-table">

        <tr>
            <th>Buch Titel</th>
            <th>Autor</th>
            <th>Kategorie</th>
        </tr>

        <tr *ngFor="let book of allBooks" (click)="openDialogOrder()">
            <td>{{ book.bookTitel }}</td>
            <td>{{ book.autorName }}</td>
            <td>{{ book.category }}</td>
        </tr>

    </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
      <mat-icon>add</mat-icon>
    </button>




<!--
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
-->

<!--
<table>

<tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
</tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

-->