<mat-card>
    <table class="user-table">

        <tr>
            <th>Buch Titel</th>
            <th>Autor</th>
            <th>Link</th>
        </tr>

        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <!--
            <td>{{ book.bookTitel }}</td>
            <td>{{ book.autorName }}</td>
            <td>{{ book.link }}</td>
        -->
        </tr>

    </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
      <mat-icon>add</mat-icon>
    </button>