<mat-card>
    <table class="user-table">

        <tr>
            <th>Buch Titel</th>
            <th>Autor</th>
            <th>Kategorie</th>
        </tr>

        <tr *ngFor="let book of allBooks">
            <td>{{ book.bookTitel }}</td>
            <td>{{ book.autorName }}</td>
            <td>{{ book.category }}</td>
        </tr>

    </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User">
      <mat-icon>add</mat-icon>
    </button>