<div class="dialog-container">

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Bestellung</h1>
    <p>Nach der Bestellung wird das Buch automatisch bei deinem Name abgelegt!</p>
    <h2> {{book.bookTitel}} </h2>
    <div mat-dialog-content>

        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Buch Titel</mat-label>
                <input [disabled]="loading" [(ngModel)]="book.bookTitel" matInput placeholder="Buch Titel hier eingeben">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Preis</mat-label>
                <input type="number" [disabled]="loading" [(ngModel)]="book.amount" matInput placeholder="Preis des Buches angeben">
            </mat-form-field>
        </div>


        <div>

            <mat-form-field class="mr-16" appearance="fill">
                <mat-label>Person</mat-label>
                <mat-select [(ngModel)]="book.category">
                    <mat-option value="Dominik">Dominik</mat-option>
                    <mat-option value="Sandro">Sandro</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Link</mat-label>
                <input [disabled]="loading" [(ngModel)]="book.link" matInput placeholder="Link zum Kaufen">
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading " (click)="dialogRef.close() " mat-button>Cancel</button>
        <button [disabled]="loading " mat-button (click)="addOrder() " cdkFocusInitial>Bestellung hinzufügen</button>
    </div>

</div>