$color-soft-black: rgb(0, 0, 0, 0.05);
.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid $color-soft-black;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    mat-icon {
        margin-right: 16px;
    }
    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            transition: all ease-in-out 225ms;
            background-color: $color-soft-black;
        }
        &:focus {
            outline: none;
        }
    }
}

.router-container {
    padding-left: 56px;
    padding-top: 16px;
    padding-right: 56px;
}

.logo {
    max-width: 100%;
    height: 48px;
    object-fit: cover;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-login {
    display: flex;
    justify-content: flex-end;
}